{% extends 'base.html.twig' %}

{% block title %}Formulario SA{% endblock %}

{% block body %}


      <div class="starter-template">
        <h1>Registro - Sociedad Anónima</h1>
          {{
          form_start(
            form,
            {
              attr: {
                class: 'horizontal-form',
              }
            }
          )
        }}
          <div class="offset-md-3 col-md-6">
              <div class="form-group">
                  {{ form_label(form.nombre) }}
                  <div class="form_field">
                      {{ form_widget(form.nombre) }}
                  </div>
              </div>
          </div>
          <div class="offset-md-3 col-md-6">
              <div class="form-group">
                  {{ form_label(form.domicilioLegal) }}
                  <div class="form_field">
                      {{ form_widget(form.domicilioLegal) }}
                  </div>
              </div>
          </div>
          <div class="offset-md-3 col-md-6">
              <div class="form-group">
                  {{ form_label(form.domicilioReal) }}
                  <div class="form_field">
                      {{ form_widget(form.domicilioReal) }}
                  </div>
              </div>
          </div>

           <div class="offset-md-3 col-md-6">
              <div class="form-group">
                  {{ form_label(form.mail) }}
                  <div class="form_field">
                      {{ form_widget(form.mail) }}
                  </div>
              </div>
          </div>
           <div class="offset-md-3 col-md-6">
              <div class="form-group">
                  {{ form_label(form.pais) }}
                  <div class="form_field">
                      {{ form_widget(form.pais) }}
                  </div>
              </div>
          </div>
          <div class="offset-md-3 col-md-6">
              <div class="form-group">
                  {{ form_label(form.estado) }}
                  <div class="form_field">
                      {{ form_widget(form.estado) }}
                  </div>
              </div>
          </div>
         <div class="offset-md-3 col-md-6">
              <div class="form-group">
                  {{ form_label(form.archivo) }}
                  <div class="form_field">
                      {{ form_widget(form.archivo) }}
                  </div>
              </div>
          </div>
        <div>
          <div class="row justify-content-center">
{{ form_widget(form.submit) }}
          {{ form_widget(form._token) }}
            {{
            form_end(
              form,
              {
                render_rest: false
              }
            )
          }}
        </div>


    
{% endblock %}
